body {
  text-align: center;
}
.stage {
  position: relative;
  border: 2px solid #000;
  margin: 0 auto;
}

.stage .head,
.stage .body {
  position: absolute;
  z-index: 5;
}
.stage .head {
  background: green;
}
.stage .head.left {
  transform: rotateZ(90deg);
}
.stage .head.right {
  transform: rotateZ(-90deg);
}
.stage .head.down {
  transform: rotateZ(0deg);
}
.stage .head.up {
  transform: rotateZ(-180deg);
}
.stage .head:before {
  position: absolute;
  bottom: 10px;
  left: 3px;
  width: 9px;
  height: 9px;
  border: 2px solid #fff;
  border-radius: 50%;
  background: #000;
  content: '';
  box-sizing: border-box;
  box-shadow: 0 0 0 1px rgba(0,0,0,1);
}
.stage .head:after {
  position: absolute;
  bottom: 10px;
  right: 3px;
  width: 9px;
  height: 9px;
  border: 2px solid #fff;
  border-radius: 50%;
  background: #000;
  content: '';
  box-sizing: border-box;
  box-shadow: 0 0 0 1px rgba(0,0,0,1);
}
.stage .body {
  background: green;
}

.stage .food {
  position: absolute;
  background: url('../images/frog.jpg') no-repeat 50% 50%;
  background-size: 80% 80%;
}